<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link href="/static/css/style.css" rel="stylesheet"/

<div class="modal fade" id="{% block id %}{% endblock %}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<h5 class="modal-title" id="staticBackdropLabel">{% block title %}{% endblock %}</h5>
</div>

<div class="modal-body">
{% block content %}{% endblock %}
</div>

<div class="modal-footer">

</div>

</div>
</div>
</div>
