{% extends "page.html" %}

{% block body %}

{% if message %}
<p class="rohm-card rohm-ui-shadow rohm-{{message.type}}">{{message.text}}</p>
{% endif %}

<h2>Add a vehicle</h2>

<form action="/cars/add/" method="post">

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<fieldset id="fieldset-specs" class="rohm-ui-shadow">

<div class="rohm-ui-field">
<input type="text" style="width: 30%" name="brand" placeholder="Brand"/>
<input type="text" style="width: 30%" name="model" placeholder="Model name"/>
<input type="number" style="width: 30%" name="year" min=2000 step=1 value="{{ year }}" />
</div>

<div class="rohm-ui-field">
<label for="energy_kwh">Battery size (kwh)</label>
<input id="text-energy_kwh" type="number" min=0 name="energy_kwh"/>
</div>

<div class="rohm-ui-field">
<label for="avg_kwh_km">Average efficiency (km/kwh)</label>
<input id="text-avg_kwh_km" type="number" min=0.1 step=0.01 name="avg_kwh_km"/>
</div>

<div class="rohm-ui-field">
<label for="mass_kg">Vehicle weight (kg)</label>
<input id="text-mass_kg" type="number" min=1 name="mass_kg"/>
</div>

<div class="rohm-ui-field">
<label for="regen_efficiency">Regen breaking efficiency (0% to 100%)</label>
<input id="text-regen_efficiency" type="range"  step=0.1 value=0.12 name="regen_efficiency"/>
</div>

</fieldset>

<input type="submit" value="Accept"></input>
</form>

{% endblock %}

