html {
	font-family: Sans-Serif;
	color: #333;
	background: #fff;

	overflow-x: hidden;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.logo {
	max-width:256px;
}

h1, h2, h3, body, footer {
	margin: 0 auto;
}

h1, h2, h3 {
	color: #666;
}

body {
	position: relative;
	padding: 0;
	background: #fff;
}

a:visited > h1 {
	color: #333;
	text-decoration: none;
}

a {
	color: #000;
	text-decoration: none;
}

#map {
	height: 800px;
	width: 100%;
}

#rohm-ui-col {
	position: relative;
	width: 90px;
	height: 180px
}

#slider-soc {
	position: absolute;
	display: none;
	top: 42px;
	width: 100px;
	left: 100px;
}

#rohm-ui-location-group {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 105px;
	width: 300px;
	padding: 5px;
	margin-left: -150px;
}

.rohm-ui-field {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
}

.rohm-ui-textbox {
	width: 130px;
	border-radius: 8px;
	font-size: 24px;
	border: none;
	box-shadow: 0 0 16px 1px rgba(0, 0, 0, .2);
}

.rohm-ui-soc-label {
	position: absolute;
	top: 50px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	padding: 5px;
	z-index: 100;

	text-align: center;

    border-radius: 16px;
    font-size: 36px;
	box-shadow: 0 0 16px 1px rgba(0, 0, 0, .2);
	background: white;
}

.rohm-button {
	width: 90px;
	height: 90px;
}

.rohm-slider {
	height: 8px;
	box-shadow: 0 0 16px 1px rgba(0, 0, 0, .2);
}

.rohm-slider-handle {
	position: absolute;
	width: 32px;
	height: 32px;
	margin-left: -16px;
	margin-top: -12px;
	border-radius: 16px;
	box-shadow: 0 0 16px 1px rgba(0, 0, 0, .2);
	background: white;
}
