<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38933930-6"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript">
// window.dataLayer = window.dataLayer || [];
// function gtag(){dataLayer.push(arguments);}
// gtag('js', new Date());
// gtag('config', 'UA-38933930-6');
</script>
<script type="text/javascript" src="/static/js/rohm.js">
</script>

<meta charset="UTF-8">
<!--<meta name="viewport" content="user-scalable=no; width=device-width, initial-scale=1.0"/>-->
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, minimum-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes" />

<title>
RΩHM - Trip planner
</title>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link href="/static/css/style.css" rel="stylesheet"/>

</head>

<body style="padding: 0">

<header class="row">
<h1><center><a href="/">RΩHM</a><center></h1>
</header>

<div id="modal-error" class="modal">
	<p id="modal-error-text"></p>
</div>


<div id="map"></div>

<canvas class="rohm-ui-activity" width=32 height=32>
</canvas>

<div class="rohm-ui-soc-label">0%</div>

<div id="rohm-ui-location-group">
<input id="textbox-origin" type="text" placeholder="from" class="rohm-ui-textbox" style="float:left" name="">
<input id="textbox-destination" type="text" placeholder="to" class="rohm-ui-textbox" style="float:right" name="">
</div>

<div id="rohm-ui-col" style="top:-200px">

<div>
	<img id="button-soc" class="rohm-button" src="/static/imgs/button-soc.svg"/>
	<div id="slider-soc" class="rohm-slider">
	<div class="rohm-slider-handle"></div>
	</div>
</div>

<a href="/modal/cars" rel="modal:open">
<img id="button-pick-car" class="rohm-button" src="/static/imgs/button-car.svg"/>
</a>
</div>



<!-- <footer>
<center>
© Kirk Roerig 2020
</center>
</footer> -->

</body>
<script type="text/javascript">
	document.cookie='SameSite=Strict; Secure';

	rohm.ui.slider.make('#slider-soc', (event) => {
		document.cookie='soc='+event.value;
		$('.rohm-ui-soc-label').text(parseInt(100 * event.value) + '%');
	}).set(document.cookie_get('soc'), 1);

	$('#button-soc').click(() => {
		$('#slider-soc').toggle();
	});

	const do_route = () => {
		const from = $('#textbox-origin').val();
		const to = $('#textbox-destination').val();

		if (from.length > 0 && to.length > 0)
		{
			rohm.estimate.clear();
			rohm.estimate.make(from, to);
		}
	};

	$('#textbox-origin').change(do_route);
	$('#textbox-destination').change(do_route);
	
	var rohm_activity = rohm.ui.activity.make('canvas.rohm-ui-activity');
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwDXQvVOVmEfgRHsT4ah6uEfNC76nymE&callback=rohm.ui.map.init&libraries=visualization"
  defer
></script>

</html>

