{% extends "main.html" %}

{% block content %}
<body style="padding: 16px">

<h1><center>RΩHM</center></h1>

<h3><center><i>freely...</i></center></h3>
<p>
<center>Welcome to RΩHM! The EV trip planner that helps you eliminate range anxiety.</center>
</p>
<center><img src="/static/imgs/cell.svg"></center>
<p>
As an EV owner, you're well aware that not all miles are created equal. With that realization we set out to create a tool to help better estimate the true energy cost of getting you from where you are, to where you need to be. 
</p>
<p>
We accomplish this by taking into account numerous environmental factors, both dynamic and constant, to give you the most up-to-date estimate of battery and car performance during your trip.
</p>
<p>
With that said, lets...
</p>
<center>
<a href="/" class="rohm-ui-shadow">start RΩHMING</a>
</center>
{% endblock %}